version: "3.8"

services:

  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: db_user
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5438:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - bank-network

  redis:
    image: redis:7-alpine
    container_name: user_cache_container
    restart: always
    ports:
      - "6379:6379"
    networks:
      - bank-network

volumes:
  postgres_data:

networks:
  bank-network:
      driver: bridge